---
layout: default
title: Home
---

<h1>Recipe Box</h1>

<ul>
	<li>I buy whole portions of things; onions, peppers, cucumbers, carrots, etc.</li>
	<li>I don't measure spices, I kind of just guess/estimate.</li>
	<li>Most of these recipes make enough for 2 people for 2-3 full meals.</li>
	<li>We're not big on mushy/runny foods, and I cook meat until it's good and done.</li>
</ul>

<hr />

<h3>Most Recent:</h3>

<ul class="posts">
	
	{% for post in site.posts limit:4 %}
	<li>
		<a href="{{ post.url }}">{{ post.title }}</a> &raquo;
		<span>{{ post.date | date_to_string }}</span>
	</li>
	{% endfor %}
</ul>

<h3>Meals:</h3>

<ul class="posts">
	{% assign sortedPosts = site.tags.meals | sort: 'title' %}
	{% for post in sortedPosts %}
	<li>
		<a href="{{ post.url }}">{{ post.title }}</a> &raquo;
		<span>{{ post.date | date_to_string }}</span>
	</li>
	{% endfor %}
</ul>

<h3>Pasta:</h3>

<ul class="posts">
	{% assign sortedPosts = site.tags.pasta | sort: 'title' %}
	{% for post in sortedPosts %}
	<li>
		<a href="{{ post.url }}">{{ post.title }}</a> &raquo;
		<span>{{ post.date | date_to_string }}</span>
	</li>
	{% endfor %}
</ul>